body {
  margin: 0;
  color: whitesmoke;
  font-family: 'Comfortaa';
  height: 100%;

  background-color: #2f3337;
  background-image: url(
    "data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3f44' fill-opacity='0.9' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"
    );
}

html, #root{
  height: 100%;
}
